# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

imgui.ini
imzero
*.gen.*
.idea
